* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    background: black;
    color: #fff;
}

h1 {
    color:black;
}

th {
    background-color: #F4A460;
    color: black;
}

.chart {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #F5DEB3;
    text-align: center;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 25vh; 
    width: 30vw;
  } 

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;

    gap: 10px;

    box-sizing: border-box;
}

.container div {
    padding: 10px;
}

.data {
    background-color: #F5DEB3;
    align-items: left;
    text-align: center;
    grid-area: "data";
    position: static;
}

.footer {
    grid-column: 1 / span 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: #F5DEB3;
}

.header {
    background: #FF8C00;
    border: 1px solid #FF8C00;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
    text-align: center;
}

.header h1 {
    height: 80%;
    margin: 0px 0px 0px 0px;
}

.pose_table {
    float: left;
    position: relative;
    top: 50px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.robot_pose{
    margin-top: 30px;
    color: black;
}

.robot_viz{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #F5DEB3;
    text-align: center;
}

.sidenav {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #F5DEB3;
    text-align: center;
}

/* TABLE STYLE */
.table_even_row {
    background: #F4A460;
    padding: 5px 5px 5px 5px;
    color:black;
}

.table_odd_row {
    background: #FFDEAD;
    padding: 5px 5px 5px 5px;
    color: black;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#kr10_label {
    flex: 0.1 0.1 auto;
    float: left;
    color: black;
    margin: 0 0 0 0;
}

#connection_state {
    flex: 0.1 0.1 auto;
    float: left;
    color: black;
}

#connected_image {
    float: left;
    width: 40px;
    height: 40px;
    align-self: center;
    margin: 0 auto;
}

#joint_state {
    margin-top: 50px;
    font-size: 40px;
    color: #111;
    width: 90%;
    height: 40%;
    position: relative;
    align-content: center;
}

#kp2_table {
    margin-top: 50px;
    color: #111;
    width: 1000px;
    height: 200px;
    position: relative;
    align-content: center;
}

#kp2_title {
    margin-top: 50px;
}

#power_sourcer {
    font-size: 40px;
    width: 60%;
    height: 40%;
}

#robot_laser_table {
    float: left;
    position: relative;
    top: 50px;
    width: 100%;
    height: 100%;
}

#robot_position, #robot_orientation {
    margin-top: 50px;
    font-size: 40px;
}

#robot_viz_container {
    height: 600px;
    width: 600px;
    align-self: center;
    position: relative;
    top: 50px;
    left: 300px;
    /* background-color: black; */
}

#rviz_button {
    margin-top: 100px;
    height: 40px;
    width: 100px;
}

#texto_footer {
    align-items: center;
}